<div class="accordion-item border-0 rounded-0">
	<div class="accordion-header">
		<h2 class="d-flex align-items-center gap-2 mb-0">
			<input
				type="checkbox"
				class="form-check-input"
				[checked]="selectIfInStorage()"
				(click)="togglePost($event)" />
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				[attr.data-bs-target]="'#post-' + id"
				aria-expanded="true"
				aria-controls="'post-' + id">
				<div
					class="w-100 d-flex flex-sm-column-reverse flex-md-row justify-content-between align-items-sm-start align-items-md-center me-2">
					<span>{{ post.title }}</span>
					<small class="badge bg-secondary mb-sm-2">{{
						post.created_date | date : 'fullDate'
					}}</small>
				</div>
			</button>
		</h2>
	</div>

	<div
		[id]="'post-' + id"
		class="accordion-collapse collapse bg-light rounded-0 mt-3">
		<div class="accordion-body p-3 post-content">
			<div>
				<h5>Post</h5>
				<p
					[innerHTML]="
						post.selftext == ''
							? 'No Content Provided'
							: post.selftext
					"></p>
			</div>
			<!-- Comments Section -->
			<div class="mt-3">
				<h5>Comments</h5>
				<div
					class="list-group"
					*ngIf="post.comments !== null && post.comments!.length > 0">
					<div
						class="list-group-item"
						*ngFor="let comment of post.comments; let i = index">
						<div class="d-flex justify-content-start gap-3">
							<input
								type="checkbox"
								class="form-check-input"
								[checked]="selectIfInStorage()"
								(click)="toggleComment($event, i)" />
							<span>{{ comment }}</span>
						</div>
					</div>
				</div>
				<div *ngIf="!post.comments?.length">No comments available.</div>
			</div>
		</div>
		<!-- Sticky Footer -->
		<div class="sticky-footer bg-light p-3">
			<a class="btn btn-primary" [href]="post.url" target="_blank">
				View Original Post
			</a>
		</div>
	</div>
</div>
